input{
    border: 1px solid black;
    border-radius: 5px;
    width: 60vw;
    height: 4vh;
    padding: 0.5%;
    position: relative;
}
body{
    background-color:  rgb(245, 245, 245);
    padding: 0;
    margin: 0;
    text-transform: capitalize;
   font-family: "Zalando Sans Expanded", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    font-family: "Zalando Sans Expanded", sans-serif;
}
header{ 
    display:flex;
    position: fixed;
    z-index: 1000;
    padding-top: 1%;
    padding-bottom: 2%;
    flex-wrap: wrap;
    gap: 1%;
    width: 100%;
    justify-content: center;
    align-items: center;  
    top: 0;
    background-color: white;
}
#categories{
    display:flex;
    margin-top: 1%;
    flex-wrap: wrap;
    gap: 10px;
     min-width: 100%;
    justify-content: center;
    align-items: center;  
    text-transform: capitalize;
    position: relative;
}
#profile{
    
    position: fixed;
    right: 1%;
    top: 9%;
    width: 20%;
    height:25%;
    display: grid;
    place-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(241, 241, 241);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    
}
#profile-drop{
   display: none; 
   position: absolute;
   
}
a{
    text-decoration: none;
    outline: none;
    color: black;
}
.sign-btn{
    background-color: white;
    width: 80%;
    height: 80%;
    text-align: left;
    text-transform: capitalize;
    border: none;
}
#logo{
    border: none;
    background: none;
    margin-right: 5%; 
}
#logo i{
   background-color: aqua;
   font-size: 50px;
   border-radius: 10%;
   background-size: 10px;
}
#search-btn{
    margin-left: 0%;
    margin-right: 5%;
    height: 5.2vh;
    width: 8%;
    border-radius: 5px;
    border: .2px solid black;
    background-color: aqua;
    color: rgb(0, 0, 0);
    font-size: 14px;
}
#search-btn i{
    font-size: 20px;
}
#profile-btn{
    border: none;
    background: none;
    
}
#cart-btn{
    border: none;
    background: none;
}
#cart-btn i{
   font-size: 25px; 
}
#cart-btn i:hover{
    font-size: 28px; 
    color: aqua;
}

#profile-btn i{
    font-size: 25px;
}
#profile-btn i:hover{
    font-size: 28px; 
    color: aqua;
}
.products{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: white;
    margin-bottom: 2%;
    padding-top: 1%;
    padding-left: auto;
    padding-right: auto;
}
img{
    width:100%;
    height: 25vh;
    margin-right: 1%;
    margin-left: 1%;
    display: block;
    margin: 0 auto;
    border-radius: 5px 5px 5px 5px;
    

    
    
}
.product-cont{
    background-color: white;
    height: 35vh;
    width: calc(20% - 20px);
    border-radius: 5px;
    text-align: center;
    margin: 10px ;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#body{
    position: relative;
    padding-top: 19vh;
}
p{
    padding-top: 1%;
    text-align: left;
    text-transform: capitalize;
    padding-left: 5px;
    font-size: 15px;
}
.img-contain{
    object-fit: contain;
}
.price{
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
}
.add-to-cart-btn{
    width: 100%;
    height: 5vh;
    background-color: white;
    border: none;
    text-transform: capitalize;
    border: .5px solid black;
    padding-right: 40px;
}
.add-to-cart-btn i{
    font-size: 15px;
    position: relative;
    left: -60px;
    color: rgb(49, 49, 49);

}
.add-to-cart-btn:hover{
    background-color: aqua;
}
#home{
    
}
.cart-products{
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: 10%;
    gap: 1%;
    justify-content: center;
    align-items: center;
}
.cart-products div{
    width: 40%;
    margin-right: 35%;
    background-color: white;
    height: 35vh;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 2%;
}
#total{
    padding-top: 2%;
    padding-bottom: 0;
    position: fixed;
    left: 60%;
    width: 25%;
    background-color: white;
    height: 10vh;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-right: auto;
    margin-left: auto;
}
#total button{
    background-color: aqua;
}
#cart-drop{
    display: none;
}
.quantity{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}
#pay-btn i{
    position: relative;
     left: 0;
     margin-left: auto;
     color: black;
     margin-right: auto;

}
#pay-btn{
    text-align: center;
    padding-right: 0;
    color: black;
}